
<%@ page import="siteo.administracion.catalogos.EstadoConservacion" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'estadoConservacion.label', default: 'EstadoConservacion')}" />
		<title><g:message code="Estado Conservación" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-estadoConservacion" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="index"><g:message code="Lista" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="Nuevo" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-estadoConservacion" class="content scaffold-show" role="main">
			<h1><g:message code="Estado de conservación" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list estadoConservacion">
			
				<g:if test="${estadoConservacionInstance?.estadoConservacion}">
				<li class="fieldcontain">
					<span id="estadoConservacion-label" class="property-label"><g:message code="estadoConservacion.estadoConservacion.label" default="Estado de Conservacion" /></span>
					
						<span class="property-value" aria-labelledby="estadoConservacion-label"><g:fieldValue bean="${estadoConservacionInstance}" field="estadoConservacion"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${estadoConservacionInstance?.factor}">
				<li class="fieldcontain">
					<span id="factor-label" class="property-label"><g:message code="estadoConservacion.factor.label" default="Factor" /></span>
					
						<span class="property-value" aria-labelledby="factor-label"><g:fieldValue bean="${estadoConservacionInstance}" field="factor"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${estadoConservacionInstance?.estatus}">
				<li class="fieldcontain">
					<span id="estatus-label" class="property-label"><g:message code="estadoConservacion.estatus.label" default="Estatus" /></span>
					
						<span class="property-value" aria-labelledby="estatus-label"><g:formatBoolean boolean="${estadoConservacionInstance?.estatus}" true="ACTIVO" false="BAJA"/></span>
					
				</li>
				</g:if>
			
			</ol>
			<g:form url="[resource:estadoConservacionInstance, action:'delete']" method="DELETE">
				<fieldset class="buttons">
					<g:link class="edit" action="edit" resource="${estadoConservacionInstance}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
