
<%@ page import="siteo.administracion.catalogos.Viento" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'viento.label', default: 'Viento')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-viento" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="index"><g:message code="Lista" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="Nuevo" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-viento" class="content scaffold-show" role="main">
			<h1><g:message code="Viento" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list viento">
			
				<g:if test="${vientoInstance?.viento}">
				<li class="fieldcontain">
					<span id="viento-label" class="property-label"><g:message code="viento.viento.label" default="Viento" /></span>
					
						<span class="property-value" aria-labelledby="viento-label"><g:fieldValue bean="${vientoInstance}" field="viento"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${vientoInstance?.abreviacion}">
				<li class="fieldcontain">
					<span id="abreviacion-label" class="property-label"><g:message code="viento.abreviacion.label" default="Abreviacion" /></span>
					
						<span class="property-value" aria-labelledby="abreviacion-label"><g:fieldValue bean="${vientoInstance}" field="abreviacion"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${vientoInstance?.estatus}">
				<li class="fieldcontain">
					<span id="estatus-label" class="property-label"><g:message code="viento.estatus.label" default="Estatus" /></span>
					
						<span class="property-value" aria-labelledby="estatus-label"><g:formatBoolean boolean="${vientoInstance?.estatus}" true="ACTIVO" false="BAJA" /></span>
					
				</li>
				</g:if>
			
			</ol>
			<g:form url="[resource:vientoInstance, action:'delete']" method="DELETE">
				<fieldset class="buttons">
					<g:link class="edit" action="edit" resource="${vientoInstance}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
