
<%@ page import="siteo.administracion.catalogos.FormaPredio" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'formaPredio.label', default: 'FormaPredio')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-formaPredio" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="index"><g:message code="Lista" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="Nuevo" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-formaPredio" class="content scaffold-show" role="main">
			<h1><g:message code="Forma predio" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list formaPredio">
			
				<g:if test="${formaPredioInstance?.formaPredio}">
				<li class="fieldcontain">
					<span id="formaPredio-label" class="property-label"><g:message code="formaPredio.formaPredio.label" default="Forma Predio" /></span>
					
						<span class="property-value" aria-labelledby="formaPredio-label"><g:fieldValue bean="${formaPredioInstance}" field="formaPredio"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${formaPredioInstance?.estatus}">
				<li class="fieldcontain">
					<span id="estatus-label" class="property-label"><g:message code="formaPredio.estatus.label" default="Estatus" /></span>
					
						<span class="property-value" aria-labelledby="estatus-label"><g:formatBoolean boolean="${formaPredioInstance?.estatus}" /></span>
					
				</li>
				</g:if>
			
			</ol>
			<g:form url="[resource:formaPredioInstance, action:'delete']" method="DELETE">
				<fieldset class="buttons">
					<g:link class="edit" action="edit" resource="${formaPredioInstance}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
