.text{
  -webkit-border-radius: 5px;
  -webkit-padding-end: 3px;
  -webkit-padding-start: 3px;
  
  font-family:Arial, sans-serif; 
  font-size:14px; 
  font-weight:normal; 
  background-color:#FFFFFF; 
  border-color:#0B6121; 
  border-style:inset; 
  border-width:1px; 
  color:#000000;
  padding-top: 3px;
  padding-bottom: 3px;  
}
.text:read-only{
    background-color:#CEA759;
    color:#ffffff;
}

.text:focus{
    box-shadow: 0 0 5px rgba(255,0,0,1);
    border: 1px solid rgba(255,0,0,0.8);
}

select:focus{
    box-shadow: 0 0 5px rgba(255,0,0,1);
    border: 1px solid rgba(255,0,0,0.8);
}

input.form-checkbox:focus{
    border: 2px solid rgba(255,0,0,0.8);
}


a:link,
a:visited,
a:hover,
a:active
	{ text-decoration: none; }
        
.error{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color:#FF0000;}

.encabezado {
  font-family:Arial, sans-serif; 
  font-size:18px; 
  font-weight:bold;
  color:#000000;
}

.error {
  font-family:Arial, sans-serif; 
  font-size:16px; 
  font-weight:bold;
  color:#cc0000;
}

.titulo {
  font-family:Arial, sans-serif; 
  font-size:14px; 
  font-weight:bold;
  color:#000000;
}

.info {
  font-family:Arial, sans-serif; 
  font-size:12px; 
  font-weight:bold;
  color:#666666;
}

.cabecera {
  font-family:Arial, sans-serif; 
  font-size:12px; 
  font-weight:bold;
  color:#ffffff;
  background-color: #a45b13;
}

.titulo10 {
  font-family:Arial, sans-serif; 
  font-size:10px; 
  font-weight:bold;
  color:#666666;
}

.info10 {
  font-family:Arial, sans-serif; 
  font-size:12px; 
  font-weight:bold;
  color:#000000;
}

.info10rojo {
  font-family:Arial, sans-serif; 
  font-size:12px; 
  font-weight:bold;
  color:#cc0000;
}

.info16 {
  font-family:Arial, sans-serif; 
  font-size:16px; 
  font-weight:bold;
  color:#000000;
}

.info16rojo {
  font-family:Arial, sans-serif; 
  font-size:16px; 
  font-weight:bold;
  color:orangered;
}

.tabla1{
    border: 1px solid #000000;
    border-collapse: collapse;
    width: 100%;
}

.tabla1 th, .tabla1 td {
    border: 1px solid #000000;
}

.tabla1 tbody {
    background: #FFFFAA;
    font-family:Arial, sans-serif; 
    font-size:10px; 
}

.tabla1 tbody td:hover{
    background: #FACC2E;
}

.tabla1 thead {
    font-family:Arial, sans-serif; 
    font-size:12px; 
    font-weight: bold;
    background: burlywood;
    color: #750300;
    text-align: center;
}

.div70{
    margin: 0 auto;
    width: 70%;
}

.info2,.exito,.alerta,.error2{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:15px;
    font-weight: bold;
    border: 1px solid;
    margin: 10px 0px;
    padding:10px 10px 10px 30px;
    background-repeat: no-repeat;
    background-position: 15px center;
    position:relative;
}

.botonesCaptura{
    border: 1px solid #dedede;
    border-radius: 6px;
    color: #555;
    display: inline-block;
    font: bold 12px/12px HelveticaNeue, Arial;
    padding: 8px 11px;
    text-decoration: none;
    background: #EBEBEB;
    border-color: #494437 #494437 #494437;
    box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    background: -moz-linear-gradient(top,  #f9f9f9, #f0f0f0);
    background: -webkit-linear-gradient(top,  #f9f9f9, #f0f0f0);
    background: o-linear-gradient(top,  #f9f9f9, #f0f0f0);
    background: ms-linear-gradient(top,  #f9f9f9, #f0f0f0);
    background: linear-gradient(top,  #f9f9f9, #f0f0f0);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0');
}

.botonesCaptura:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
    cursor: pointer;
}

.error2 {
    color: #D8000C;
    background-color: #FFBABA;
}

.info2 {
    color: #00529B;
    background-color: #BDE5F8;
}

.alerta {
    color: #9F6000;
    background-color: #FEEFB3;
}

.exito {
    color: #4F8A10;
    background-color: #DFF2BF;
}